<% provide(:title, 'About Us') %>

<div class="center jumbotron">
  <h1>About Docnect</h1>

  <h3>Docnect works with doctors to streamline and improve their patients' appointments, ensuring every patient receives the best medical diagnosis from their GP.</h3>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>It's no secret that too few doctors exist in the world, but this problem is not limited solely to developing countries: some of the richest countries per-capita have an alarmingly low number of doctors. The UK in particular is ranked very low in Europe &nbsp;- &nbsp;<b>24th</b> out of <b>27</b> countries, with only an average of <b>2.71 doctors per 1,000 patients</b>!</p>

    <p>Doctors have tried to alleviate this problem by reducing the duration of a patient's visit, but, with a rapidly growing population, the health care system is at a breaking point &nbsp;- &nbsp;duration times have been reduced to such an extent that doctors' diagnoses are becoming unreliable, incurring both social and economic consequences.</p>

    <h3>Docnect is a new online tool that works with the doctor, ensuring every patient receives the best possible medical diagnosis from their GP, maintaining or even reducing the current duration of each visit.</h3>

    <p>All a patient must do is complete their Docnect profile and a simple online diagnostic test. After that, the information is immediately sent to the doctor, granting an initial idea of the patient's condition prior to their visit! This saves time at the start of each visit, ensuring that each patient will undergo a physical examination: a critical part of the medical appointment which is all-too-often overlooked due to time constraints.</p>

    <h3>How can I use Docnect?</h3>

    <p>If you're a patient, Docnect's online diagnosis tool is free for you to use &nbsp;- &nbsp;be sure to <%= link_to 'sign up', signup_path %> and see if your doctor is registered on our list. If they aren't, chances are they don't yet know about how Docnect could help them, so be sure to introduce them to it on your next appointment!</p>

    <p>If you're a doctor, you are not personally required to spend any money to use Docnect's features. To ensure all doctors on Docnect are legitimate, you'll need to <%= link_to 'contact us', contact_path %> by email (<a href="mailto:docnect@gmail.com" target="_blank">docnect@gmail.com</a>) or call us on <a href="tel:+447437374793">+44 7437 374793</a> to create an account. We hope you understand this procedure is essential, but don't worry, it won't take long!</p>

    <div class="divider"></div>

    <p><i>Sign up is currently closed for both patients and doctors as we test Docnect before going live. We're sorry for any inconveniences this may cause, but we want to ensure Docnect is as good as possible when it comes out!</i></p>

    <p><i>We are currently looking for five doctors willing to help test Docnect. If you are a doctor and would like to volunteer, please email <a href="mailto:docnect@gmail.com" target="_blank">docnect@gmail.com</a>. All testers will be rewarded with a free life-long subscription to Docnect and all its features once it goes live!</i></p>
  </div>
</div>