<% provide(:title, 'Contact Us') %>

<div class="center jumbotron">
  <h1>Contact Us</h1>

  <h3>To get involved with testing Docnect, or for any queries or further information, be sure to get in touch:</h3>

  <h3 style="line-height: 1.5em;">
    <b>Email: </b><a href="mailto:docnect@gmail.com" target="_blank">docnect@gmail.com</a><br>
    <b>Tel: </b><a href="tel:+447437374793">+44 7437 374793</a>
  </h3>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p><i>Sign up is currently closed for both patients and doctors as we test Docnect before going live. We're sorry for any inconveniences this may cause, but we want to ensure Docnect is as good as possible when it comes out!</i></p>

    <p><i>We are currently looking for five doctors willing to help test Docnect. If you are a doctor and would like to volunteer, please email <a href="mailto:docnect@gmail.com" target="_blank">docnect@gmail.com</a>. All testers will be rewarded with a free life-long subscription to Docnect and all its features once it goes live!</i></p>
  </div>
</div>