<% provide(:title, 'Contact Us') %>

<div class="center jumbotron">
  <h1>Contact Us</h1>

  <h3>Please email <a href="mailto:insert@email.here?Subject=Docnect" target="_top">INSERT EMAIL HERE</a> for any queries/information.</h3>
</div>