<p>Hi <%= @doctor.name %>,</p>

<p><%= @patient.name %> has just been diagnosed and is requesting your help!</p>

<p><%= simple_format(@diagnosis.last.diagnosis) %></p>

<p>To view their full profile and diagnosis report, <%= link_to 'click here', @patient %>.</p>

<p>Thanks,</p>
<p><i>The Docnect Team</i></p>