<div class="row">
  <h4 class="patient-title">Medical Specialization:</h4>
  <div class="patient-info"><%= @user.specialization %></div>
</div>

<div class="row">
  <h4 class="patient-title">Phone Number:</h4>
  <div class="patient-info"><%= @user.phone %></div>
</div>

<div class="row">
  <h4 class="patient-title">Surgery Address:</h4>
  <div class="patient-info"><%= simple_format(@user.address) %></div>
</div>

<% if @user.bio %>
    <div class="row">
      <h4 class="patient-title">Personal Bio:</h4>
      <div class="patient-info"><%= simple_format(@user.bio) %></div>
    </div>
<% end %>