

.patient-info {
  margin-top: 5px;
  p {
    font-size: 1em;
    line-height: 1.4em;
  }
}

.patient-title {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 15px;
}

.show-section {
  margin-top: 25px;
  margin-bottom: 15px;
}

.users {
  list-style: none;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    color: #999;
  }
}