<footer class="footer">
  <small>
    <%= link_to 'Docnect', root_path %> © 2017 - All Rights Reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About Docnect', about_path %></li>
      <li><%= link_to 'Contact Us', contact_path %></li>
    </ul>
  </nav>
</footer>